<html>

<head></head>

<body>
  <main>
<div>
  <%= flash[:notice] %>
</div>

<h1>welcome to 
<i class = "fas fa-book" aria-hidden = "true" ></i>
Bookers!!</h1>
<p>In 
<i class = "fas fa-book" aria-hidden = "true" ></i>
Bookers,<br>
you can share and exchange your opinoin, inpression, and emotions<br>
<br>
about various books!</p>


  <%= link_to "Log in", new_user_session_path, class: "btn btn-info" %>
  <br>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %>


  </main>
</body>
</html>